* {
    box-sizing: border-box;
}

body {
    font-family: "Vazirmatn", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    color: #111;
    background-color: #fff;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
}

.navbar .nav-link {
    color: #fff;

}

.navbar .nav-link:hover {
    color: #198754;
}


.navbar .btn {
    color: #fff;
    background-color: #198754;
    transition: 0.3s;
}

.navbar .btn:hover {
    color: #E3F0EA;
    background-color: #13663F;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-color: #07110D;
    color: #fff;

    padding-top: 80px;

    width: 100%;
    overflow: hidden;
}


.hero-section h1 {
    font-size: clamp(3rem, 7vw, 6rem);
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}